@import "../../styles/mixins";
@import "../../styles/theme";


.container {
  @include container;
  width: 100%;
}


.header {
  @include page-header;

  button {
    color: $text-color-passive;
    background-color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:hover {
      color: $color-primary;
    }
  }

}

form {
  @include list;
}

.credential-card {
  @include card;
}

.credential-card-header {
  @include card-header;
  align-self: center;

  input {
    border-color: transparent;

    &:focus {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}

;

button {
  color: $text-color-passive;
  background-color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  &:hover {
    color: $color-primary;
  }
}

button[ type="submit"] {
  @include card;
  color: $color-primary;
  background-color: inherit;
  border-color: $color-primary;
  font: inherit;
  cursor: pointer;
  line-height: 1.4em;
}
