@import "layout";

@mixin task-container-item {
  display: flex;
  align-items: flex-end;
  border-radius: 18px;
  cursor: pointer;
  gap: $main-gap;
  padding: 10px;
  user-select: none;
  background-color: transparent;
}