@import "layout";

@mixin card {
  display: flex;
  //align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 18px;
  cursor: pointer;
  //gap: $main-gap;
  padding: 10px;
  user-select: none;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
}

@mixin card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  //&:focus-visible {
  //  align-items: flex-start;
  //} todo do later
}

@mixin card-body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  width: 100%;
}