@import "layout";
@import "theme";

@mixin card-body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
  width: 100%;
}

//@mixin page-header {
//  border-bottom: $color-passive solid 2px; // handle this, for now i only did layout
//}
