// Color Palette
$color-primary: #89D7FF;
$color-warning: #FF8989;
$color-light: #d9d9d9;
$color-passive: #4e4f4f;
$color-dark: #111111;

// Background Colors
$body-background-color: $color-dark;
$card-background-color: transparent;

// Text Colors
$text-color-default: $color-light;
$text-color-passive: $color-passive;
$text-color-accent: $color-primary;
