// Color Palette
$color-primary: #89D7FF;
$color-warning: #FF8989;
$color-info: #89FF8D;
$color-light: #d9d9d9;
$color-passive: #4e4f4f;
$color-dark: #111111;

// Background Colors
$body-background-color: $color-dark;
$card-background-color: transparent;

// Text Colors
$text-color-default: $color-light;
$text-color-passive: $color-passive;
$text-color-accent: $color-primary;

.passive {
  color: $text-color-passive;
}

button.clear {
  font: inherit;
  display: contents;
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

.warning-hover:hover {
  border-color: $color-warning;
  color: $color-warning;
}

.info-hover:hover {
  border-color: $color-info;
  color: $color-info;
}
