@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$font-family-default: "Montserrat", "Nunito Sans", sans-serif;
$font-size-default: 20px;
$font-weight-default: 700;
