@import "../../styles/theme.scss";

.adder {
  border-color: $color-primary;
  color: $color-primary;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  border: 2px solid $color-primary;
  color: $color-primary;
  width: 1em;
  height: 1em;
  svg {
    width: 75%;
    height: 75%;
  }
}
