@import "../styles/theme";
@import "../styles/mixins";

.task-item {
  @include task-container-item;
  gap: 10px;
  border: $text-color-passive solid 2px;
}

.completed {
  color: $text-color-passive;
  text-decoration: line-through;
}
