@import "../../../styles/layout.scss";
@import "../../../styles/theme.scss";

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: $vertical-gap;

  user-select: none;
}

.head {
  display: inline-flex;
  justify-content: space-between;
  gap: $horizontal-gap;
  padding-bottom: $horizontal-gap;

  border-bottom: 2px solid $color-passive;
}

.head-main-content {
  display: inline-flex;
  justify-content: space-between;
  gap: $horizontal-gap;
}

.head-side-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: $horizontal-gap;
  color: $text-color-passive;

  &.passive {
    font-size: 80%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: $vertical-gap;
}
